<div id="radiator" class="container waylon">
    <!-- If you're looking at the source of this page and wondering why
         this div is empty, here's why: #radiator is a place-holder div
         for jQuery, which dynamically writes HTML here from "./data".
         The #loading div below is shown and hidden based on a conditional
         at the bottom of this page.
    -->
    <div id="loading">
        <span class="glyphicon glyphicon-refresh loadingIndicator"></span>
        <p>Getting the latest data, just for you.</p>
    </div>
</div>

<script src="/js/jquery-1.11.0.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/waylon.js"></script>
<script>
var settings = {
    refresh_interval: <%= @refresh_interval %>,
    datasource: '/view/<%= h @this_view %>/data',
};
waylon.init(settings);
</script>
