/* Global */
body {
    padding-top: 50px;
}
.container {
    width: 90% !important;
}
.clear {
    clear: both;
}

/* Global navigation */
.navbar-default {
    background: #7c65ad;
    border-bottom: none;
}
.navbar-brand {
    color: white !important;
    font-size: 1.5em;
    font-weight: bold;
}
.navbar-default .navbar-nav > li > a {
    background: inherit;
    color: white !important;
    text-shadow: none;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > li > a:hover {
    background-image: none !important;
    background-color: #695592 !important;
}

/* Landing page */
.landing {
    font-size: 1.5em;
    padding: 50px 0 25px 0;
    text-align: center;
}
.landing ul, .landing ul li {
    margin: 0;
    padding: 0;
}
.landing ul {
    list-style-type: none;
}

/* Radiator view */
#radiator #loading {
    color: #999;
    margin-top: 150px;
    text-align: center;
}
.loadingIndicator {
    -webkit-animation: loadingIndicator 2s linear infinite;
    -moz-animation:    loadingIndicator 2s linear infinite;
    font-size: 4em;
    margin: 25px;
}
@-webkit-keyframes loadingIndicator {
    from { -webkit-transform: rotate(0deg);   }
    to   { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes loadingIndicator {
    from { -moz-transform: rotate(0deg);   }
    to   { -moz-transform: rotate(360deg); }
}
.stats-rollup {
    padding: 10px 0 25px 0;
    text-align: center;
}
.stats-rollup > h3 {
    display: inline;
    margin: 0 1em;
    padding: 0;
}
.table thead > tr,
.table tbody > tr,
.table tfoot > tr {
    border: 1px solid white;
}
.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th,
.table thead > tr > td,
.table tbody > tr > td,
.table tfoot > tr > td {
    border: none;
}
.building-job, .failed-job, .successful-job, .unknown-job {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
}
.building-job a, .failed-job a, .successful-job a, .unknown-job a {
    color: white;
}
.unknown-job    { background-color: #88a6af; }
.building-job   { background-color: #f0ad4e; }
.failed-job     { background-color: #d9534f; }
.successful-job { background-color: #5cb85c; }
.weather        { margin: 0 5px;             }
.job_action   { float: right; }
.job_action a { color: black; }
.infinity {
    color: #d9534f;
    font-size: 1.75em;
    line-height: 50%
}
.progress, .progress-bar, .progress-bar-danger {
    background-image: none;
    background-repeat: no-repeat;
    filter: none;
}
.progress {
    height: 5px;
    margin-bottom: 0px;
    margin-top: 10px;
    background-color: #f0ad4e;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.progress-bar {
    background-color: #fff;
}
.progress-bar-danger {
    background-color: #d9534f;
}

/* Nirvana mode */
body.nirvana {
    /* background-image set by jQuery */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
body.nirvana .navbar-fixed-top {
    background: #333;
    opacity: 0.5;
}
body.nirvana .navbar-default .navbar-nav > li > a {
    background: inherit;
    color: white !important;
    text-shadow: none;
}
body.nirvana .navbar-default .navbar-nav > .active > a,
body.nirvana .navbar-default .navbar-nav > li > a:hover {
    background-image: none !important;
    background-color: #111 !important;
}
