body {
    padding-top: 50px;
}
.navbar-default {
    background: #7c65ad;
    border-bottom: none;
}
.navbar-brand {
    color: white !important;
    font-size: 1.5em;
    font-weight: bold;
}
.failed-build, .successful-build {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
}
.failed-build {
    background-color: #d9534f;
}
.successful-build {
    background-color: #5cb85c;
}
